.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: normal;
  line-height: 28px;
  transition: opacity .5s linear;
}

.header__link:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .header__link {
    font-size: calc(1.125rem + (100vw - 320px) / (768 - 320) * (24 - 18));
  }
} 